<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{{account}}/{{repository}}</title>
    <link rel='icon' href='stashpad.svg' />
    <link rel='stylesheet' href='index.css' />
  </head>
  <body>
    <div id='wrap'>
      <main>
        <header>
          <div id='release'>{{account}}/<span
              id='repo'
            >{{repository}}</span></div>
          <div id='date'>{{date}}</div>
        </header>

        <div id='list'>
          {{#each files}}
            <div class='item'>
              <div class='fileType'>{{@key}}:
                <span class='url'><a
                    href={{this.url}}
                  >/latest/{{@key}}</a></span></div>
              <div class='size'>{{this.size}} MB</div>
            </div>
          {{/each}}
        </div>

        <footer>
          <div id='version'>{{version}}</div>
          <a id='release-notes' href={{releaseNotes}}>Release Notes</a>
          <a id='all-releases' href={{allReleases}}>All Releases</a>
          <a href={{github}}>GitHub</a>
        </footer>
      </main>
    </div>
  </body>
</html>